<!-- Arquivo index.html (Página de Login) -->
{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <!-- Área de imagem ao lado do formulário de login -->
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img src="{{url_for('static', filename='img/undraw_rocket.svg')}}">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bem-vindo</h1>
                                    </div>
                                    <!-- Formulário de login -->
                                    <form class="user" action="/" method="post">
                                        <input type="hidden" name="userid" value="{{user_id}}">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="exampleInputEmail" name="username" placeholder="Digite seu usuário" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="exampleInputPassword" name="password" placeholder="Senha">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Entrar</button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/register">Crie sua conta</a>
                                    </div>
                                    <!-- Exibe mensagens flash do Flask -->
                                    {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <ul>
                                            {% for message in messages %}
                                            <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}